.classpath
.project
.settings/
target/
gui/.classpath
gui/.project
gui/.settings/
gui/target/
gui/bin/
xwshared/.classpath
xwshared/.project
xwshared/.settings/
xwshared/target/
xvsmimpl/.classpath
xvsmimpl/.project
xvsmimpl/.settings/
xvsmimpl/target/
alternateimpl/.project
alternateimpl/.classpath
alternateimpl/.settings/
alternateimpl/target/
alternateimpl/bin/
