.classpath
.project
.settings/
target/
gui/.classpath
gui/.project
gui/.settings/
gui/target/
xwapi/.classpath
xwapi/.project
xwapi/.settings/
xwapi/target/
xvsm/.classpath
xvsm/.project
xvsm/.settings/
xvsm/target/
alternateimpl/.project
alternateimpl/.classpath
alternateimpl/.settings/
alternateimpl/target/